<!DOCTYPE html>
<html>
  <head>
    <title>Andromedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application'%>
    <script type="text/javascript">
      window.logo = "<%= image_url('yt.png') %>";
      window.pfp = "<%= image_url('pfp.png') %>";
      window.search = "<%= image_url('search.png') %>";
      window.gh = "<%= image_url('gh.png') %>";
      window.home = "<%= image_url('home.png') %>";
      window.ln = "<%= image_url('ln.png') %>";
      window.upload = "<%= image_url('upload.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
